	<!DOCTYPE html>
	<html>
	<head>
	<link rel="stylesheet" type="text/css" href="../styles/style.css"/>
	<script type="text/javascript" src="../scripts/script.js"></script>
	<title>Web notes</title>
	</head>
	<body>
	<h1>My notes :D</h1>
	<h2>type a new note</h2>
	<div id="formDiv">
	<label for="txtNote" ><p>Reminder</p></label>
	<input id="txtNote" type="text" placeholder="Remind me to..." onkeyup="onEnter()" />
	<input type="button" id="btnSubmit" onclick="save()" value="Save"/ >
	<div id="storedNotes">	
	</div>
	</body>
	</html>