<!DOCTYPE html>
	<html>
	<head>
	<link rel="stylesheet" type="text/css" href="../styles/style.css"/>
	<script type="text/javascript" src="../scripts/script.js"></script>
	<title>Web notes</title>
	</head>
	<body>
<div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/gw3BhchcZEtqScgw" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/danfinkler-punk-rock-gg-allin-ggs-butt-gw3BhchcZEtqScgw">via GIPHY</a></p>
</body>
</html>